<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create Desk.com Case</title>

	<!--Styles-->

	<script type="text/javascript">
		function PreventFrame() {
			try {
				if (window.top !== window.self) {
					document.write = "";
					window.top.location = window.self.location;
					setTimeout(function() {
						document.body.innerHTML = '';
					}, 0);
					window.self.onload = function() {
						document.body.innerHTML = '';
					};
				}
			} catch (err) {}
		}
		PreventFrame();
		</script>
</head>
<body>
</body>
</html>